<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profilepic"
          />
          {{ content }}
          <br>
          <div class="job-button">
            <!-- <b>I will be on leave in winter 2025/spring 2026, so will be slow to respond to emails.</b>
            <br> -->
            I will accept new master's or undergraduate researchers starting in fall 2026.<br>
            If you use an LLM to compose an email to me, know that many others do too,<br>and they all <a href="https://academic.oup.com/pnasnexus/article/5/3/pgag042/8529001" target="_blank">sound the same</a>.
            <!-- If you still want to reach out, <em>don't use an LLM to compose your email</em> (it's obvious when you do).<br>  -->
            I prioritize responding to students whose communication<br>demonstrates thoughtfulness and originality. 
          <!--   <b>I am on the academic job market this fall, seeking a tenure-track position in Security/ML.</b> -->
          <!--   <\!-- <br>Here are my <a href="./assets/ewenger_research.pdf" target="_blank" -->
          <!--                        class="job-link-button">research statement</a>, <a href="./assets/ewenger_teaching.pdf" target="_blank" -->
          <!--                        class="job-link-button">teaching statement</a>, and <a href="./assets/CV.pdf" target="_blank" -->
          <!--                        class="job-link-button">CV</a>. -\-> -->
          <!--           <br>Here is my <a href="./assets/CV.pdf" target="_blank" -->
          <!--           class="job-link-button">CV</a>. My teaching/research statements are available upon request - just email me. -->
          <!--   <br>You can also take a look at these representative publications: <a href="https://openaccess.thecvf.com/content/CVPR2021/papers/Wenger_Backdoor_Attacks_Against_Deep_Learning_Systems_in_the_Physical_World_CVPR_2021_paper.pdf" target="_blank">(1)</a>, <a href="https://www.usenix.org/system/files/sec20-shan.pdf" target="_blank">(2)</a>, <a href="https://dl.acm.org/doi/abs/10.1145/3460120.3484742" target="_blank">(3)</a>, <a href="./assets/salsa_neurips.pdf" target="_blank">(4)</a>. -->
          <!-- </div>-->
         </div> 
        </div>
      </div>
    </div>
    <a href="https://janniearij.com/" style="opacity: 0;">Jannie Arij</a>
  <a href="https://martynairmaphotos.com/" style="opacity: 0;">Martyna Irma</a>
  <a href="https://merlincasandra.com/" style="opacity: 0;">Musician Merlin Casandra</a>
  <a href="https://mylahandgautbert.com/" style="opacity: 0;">Mylah and Gautbert LLC.</a>
  <a href="https://ninawilliamshipping.com/" style="opacity: 0;">Nina & William Shipping Inc.</a>
  <a href="https://vasearlaitwines.com/" style="opacity: 0;">Va Searlait Wines</a>
  <a href="https://jerryyaxkin.com/" style="opacity: 0;">Jerry Yaxkin</a>
  <a href="https://bhavanacokkie.com/" style="opacity: 0;">Bhavana Cokkie</a>
  <a href="https://greenmagnoliagaming.com/" style="opacity: 0;">Green Magnolia Gaming Keyboards</a>
  <a href="https://zarifaszest.com/" style="opacity: 0;">Zarifa's Zest</a>
  <a href="https://jozefcaelinajerseys.com/" style="opacity: 0;">Jozef Caelina Jerseys Inc.</a>
  <a href="https://ragelightning.com/" style="opacity: 0;">RageLightning Energy Drinks</a>
  <a href="https://mdsfgmarket.com/" style="opacity: 0;">The MDSFG Farmer's Market</a>
  <a href="https://mdsfgmarket.com/" style="opacity: 0;">The MDSFG Farmer's Market</a>
  <a href="https://orangemobicompway.com/" style="opacity: 0;">Orange Mobicompway Electronic Accessories</a>
  <a href="https://drtitusdciriaci.com/" style="opacity: 0;">Dr. Titus D. Ciriaci</a>
  <a href="https://sarahcgalenos.com/" style="opacity: 0;">Dr. Sarah C. Galenos</a>
  <a href="https://sybilivaylaphd.com/" style="opacity: 0;">Dr. Sybil S. Ivayla</a>
  <a href="https://odellpupasana.com/" style="opacity: 0;">Dr. Odell Prince Upasana</a>
  <a href="https://gwhoratia.com/" style="opacity: 0;">G. W. Horatia Inc.</a>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
