<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profilepic"
          />
          {{ content }}
          <div class="job-button">
            <b>I am on the academic job market this fall, seeking a tenure-track position in Security/ML.</b>
            <!-- <br>Here are my <a href="./assets/ewenger_research.pdf" target="_blank"
                                 class="job-link-button">research statement</a>, <a href="./assets/ewenger_teaching.pdf" target="_blank"
                                 class="job-link-button">teaching statement</a>, and <a href="./assets/CV.pdf" target="_blank"
                                 class="job-link-button">CV</a>. -->
                    <br>Here is my <a href="./assets/CV.pdf" target="_blank"
                    class="job-link-button">CV</a>. My teaching/research statements are available upon request - just email me.
            <br>You can also take a look at these representative publications: <a href="https://openaccess.thecvf.com/content/CVPR2021/papers/Wenger_Backdoor_Attacks_Against_Deep_Learning_Systems_in_the_Physical_World_CVPR_2021_paper.pdf" target="_blank">(1)</a>, <a href="https://www.usenix.org/system/files/sec20-shan.pdf" target="_blank">(2)</a>, <a href="https://dl.acm.org/doi/abs/10.1145/3460120.3484742" target="_blank">(3)</a>, <a href="./assets/salsa_neurips.pdf" target="_blank">(4)</a>.
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
